.header__logo {
    font-family: 'Raleway';
    text-decoration: none;
    color: var(--primary-text-color);
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.header__logo--accent {
    color: var(--accent-color);
}

.logo-footer {
    display: inline-block;
    margin-bottom: 20px;

    text-decoration: none;
    color: var(--white-color);
    font-family: Raleway;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}